{% extends 'base.html' %}
{% block content %}



<div class="job-apply-container">

    <div class="job-card">
        <h3>{{ job.title }}</h3>
        <p><strong>Company:</strong> {{ job.company }}</p>
        <p><strong>Location:</strong> {{ job.location }}</p>
        <p><strong>Salary:</strong>{{ job.salary }}</p>
        <p><strong>Shift:</strong>{{ job.shift }}</p>
        <p><strong>Exprience:</strong>{{ job.exprience }}</p>
        <p><strong>description:</strong>{{ job.description }}</p>
    </div>

    <div class="apply-card">
        <h3>Apply for this Job</h3>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Name </label>:
            <input type="text" name="name" placeholder="Your Name" required>
            <label>Email</label>
            <input type="email" name="email" placeholder="Your Email" required>
            <label>Resume</label>
            <input type="file" name="resume"  accept="application/pdf" required>
            <button type="submit">Apply Job</button>
        </form>
    </div>

</div>

{% endblock %}


